:host{


    .title{
        font-size: larger;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    .ask{
        text-align: center;
        font-size: larger;

    }
    .buttonNo{
        background: green;
        color:white
    }
    .buttonYes{
        background: red;
        color: white;
    }
}