<div>
    <header>
    <h1 class="title">About Us</h1>
</header>
<body>
    <p  class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Temporibus beatae numquam voluptatibus sunt dolor distinctio repudiandae veniam soluta consequatur, officia tempore.
          Architecto quibusdam consequuntur quo quaerat sed quia tenetur laboriosam?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Enim tenetur dolores omnis ullam odit illo nam laboriosam. 
          Fuga ipsam et praesentium magni illo magnam totam, sapiente reiciendis dolorem at culpa?
    </p>
    <footer class="footer">Robyson Willyan de Paula Student Id  8736435 </footer>
</body>
</div>