:host{
    form{
        padding: 2.5em;
        text-align: center;
    }

    .title{
        padding: 2em;
        text-align: center;
        font-size:xx-large;
        font-weight: bold;
       
        
    }
    .details{
        font-size: small;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
        padding:left;

    }

    .footer{
        font-size: small;
        padding: 1em;
        text-align: left;
        font-weight: bold;
    }
 
}

