:host{
    
    body{
        padding: 3em;
    }
 
    .showingTasks{
        padding:0.75em;
        text-align: center;
        font-size: medium;
    }
    .title{

        padding: 1em;
        text-align: center;
        font-size:xx-large;
        font-weight: bold;
       
        
    }

    .clearTasks{
        background-color: rgb(3, 3, 95);
        text-align: center;
        background-position: center;
    
    
    }
    .mat-button-wrapper{
        padding: right;
        position: center;
    }
    
    
 
}

